@model Nueva_Veterinaria.Models.Animal

<div>
    <h4>Detalles del paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Especie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Especie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Diagnostico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-page="./Index">Regresar a la lista</a>
</div>
